.input-wrap .floating-label {
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
    top: 7px;
    left: 21px;
    transition: 0.2s ease all;
}

.input-wrap input:focus ~ .floating-label,
.input-wrap input:not(:focus):valid ~ .floating-label {
    color: rgb(157, 221, 255);
    top: -1px;
    left: 22px;
    font-size: 10px;
    opacity: 1;
}

.disabled-input-wrap .floating-label {
    position: absolute;
    color: rgb(0, 38, 255);
    top: -1px;
    left: 22px;
    font-size: 10px;
    opacity: 1;
}